In [1]:
import pandas as pd
#read excel file
df = pd.read_excel('demo.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'demo.xlsx'

In [3]:
humidity_df = pd.DataFrame({
    "city":["delhi","mumbai","bangalore"],
    "humidity": [68,65,75]})
humidity_df

        city  humidity
0      delhi        68
1     mumbai        65
2  bangalore        75

In [4]:
temp_df = pd.DataFrame({
    "city":["mumbai","delhi","bangalore"],
    "temperature":[32,45,36]})
temp_df

        city  temperature
0     mumbai           32
1      delhi           45
2  bangalore           36

In [5]:
df = pd.merge(humidity_df,temp_df,on='city')
df

        city  humidity  temperature
0      delhi        68           45
1     mumbai        65           32
2  bangalore        75           36

In [7]:
weather_df = pd.DataFrame({
    "city":["delhi","bangalore","mumbai"],
    "weather":["cold","normal","sunny"]
})
weather_df

        city weather
0      delhi    cold
1  bangalore  normal
2     mumbai   sunny

In [11]:
both_df = pd.merge(humidity_df,weather_df,on='city')
df

        city  humidity weather
0      delhi        68    cold
1     mumbai        65   sunny
2  bangalore        75  normal

In [13]:
tree_df = pd.merge(both_df,temp_df,on='city')
tree_df

        city  humidity weather  temperature
0      delhi        68    cold           45
1     mumbai        65   sunny           32
2  bangalore        75  normal           36

In [18]:
#export to csv
tree_df.to_csv('3weather_merge.csv',index=False)

In [21]:
new_df = pd.read_csv('3weather_merge.csv')
new_df

        city  humidity weather  temperature
0      delhi        68    cold           45
1     mumbai        65   sunny           32
2  bangalore        75  normal           36

In [29]:
#now will move to another section

l = [1,3,45,34,56,87,2]
q = 31
isFound = False
for ele in l:
    if ele==q:
        isFound = True
        break;
if isFound == False:
    print("Not Found")
else:
    print("Found")

Not Found

In [34]:
#Binary Search program
import math

def binarySearch(arr,l,r,x):

    #check base case
    if r >= l:
        mid = l + math.floor((r-l)/2)

     #if element is present at the middle itself
    if arr[mid] == x:
        return mid

    #if element is smaller than mid, then it can only be present in left subarray
    elif arr[mid] > x:
        return binarySearch(arr,l,mid-1,x)

        #else the element can only be present in the right subarray
      else:
          return binarySearch(arr,mid+1,r,x)

    else:
        return -1

l.sort();
arr=l;
q=31;
binarySearch(arr,0,len(arr)-1,q)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 19)